* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: transparent;
  overflow: hidden;
  width: 550px;
  height: 550px;
}

#ring {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 75px auto;
  overflow: visible;
}
